html, body {
    margin: 0;
    padding: 0; 
}

body {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

button {
    margin-bottom: 30px;
}